main{
    display:flex;
    background-color: white;
}
header{
    background-color: #c42730;
    background-image: url(/images/tattered-flag-horizontal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-bottom: 4px solid black;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 5em;
    margin: 3em;
}
header h1{
    font-size: 4em;
    color: antiquewhite;
    text-shadow: 2px 4px black;
}
aside{
    flex: 1;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/images/tattered-flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #e87474;
    margin: 1em;
    border: 4px solid black;
    color: white;
}
.bio{
    flex: 5;
}
aside article{
    margin: 3em 2em;
    border: 2px solid black;
}
.images{
    display:flex;
    flex-wrap: nowrap;
    margin: 1em;
    padding: 1em;
    height: 40em;
    max-width: 100%;
}
#marsha-one{
    object-fit: cover;
    width: -webkit-fill-available;
    height: 40em;
}
.images-secondary{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.images-secondary img{
    width: 45%;
    margin: 1em;
    padding: 1em;
    border: 3px solid #c42730;
    
}
footer{
    background-color: #aa9263;
    height: 4em;
    display:flex;
    justify-content: space-between;
}
.text-boxes{
    display:flex;
    justify-content: space-evenly;
}
.text-boxes article{
    width: 30%;
    background-color: #826969;
    color: white;
}
.text-boxes article h3{
    text-align: center;
}
#political-stats{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/images/marsha-one.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#political-committees{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(/images/marsha-four.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#political-problems{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(/images/marsha-trump.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Colors
deep red: FA2020
pink: E87474
gray pink: C4A3A3
gray red: 826969
gray: 8f7474 */
