main{
    display:flex;
    background-color:antiquewhite;
}
header{
    background-color: #c42730;
    border-bottom: 4px solid black;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 5em;
    margin: 3em;
}
header h1{
    font-size: 4em;
    color: antiquewhite;
    text-shadow: 2px 4px black;
}
aside{
    width: 50%;
    background-color: #e87474;
    margin: 1em;
    border: 4px solid black;
}
aside article{
    margin: 3em 2em;
    border: 2px solid black;
}
.images{
    display:flex;
    flex-wrap: nowrap;
    margin: 1em;
    padding: 1em;
    height: 40em;
    max-width: 100%;
}
#marsha-one{
    object-fit: cover;
    width: -webkit-fill-available;
}
.images-secondary{
    display:flex;
    flex-wrap: nowrap;
}
.images-secondary img{
    width: 60%;
    margin: 1em;
    padding: 1em;
    justify-content: space-between;
}
footer{
    background-color: #fa2020;
    height: 2em;
}
.text-boxes{
    display:flex;
    justify-content: space-around;
}
.text-boxes article{
    width: 40%;
    background-color: #826969;
}
/* Colors
deep red: FA2020
pink: E87474
gray pink: C4A3A3
gray red: 826969
gray: 8f7474 */
